


body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #c77dff;
}

.container {  display: grid;
  grid-template-columns: 2% 96% 2%;
  grid-template-rows: 2% 6% 75%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar navbar navbar"
    ". title ."
    "reviews reviews reviews";
}

.navbar { 
  grid-area: navbar; 
}

.title {
 grid-area: title; 
}

.reviews { 
  grid-area: reviews; 
}


.nav_item {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: 50px;
  font-stretch: 100%;
  font-style: normal;
  font-size: 18px;
  color: white;
  line-height: 50px;
  /* text-align: right; */
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.dsc {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: 50px;
  font-stretch: 100%;
  font-style: normal;
  font-size: 50px;
  color: ghostwhite;
  line-height: 20px;
  /* text-align: right; */
  float: right;
  margin-right: 10px;
  margin-left: 20px;
  text-shadow: 0 0 8px rgba(0,0,0,0.1);
}


#logout {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: 50px;
  font-stretch: 100%;
  font-style: normal;
  font-size: 18px;
  color: red;  
  line-height: 50px;
  text-align: left;
  margin-left: 50px;
}

.review_box {
  background: #fff;
  width: 350px;
  padding: 30px;
  border-radius: 10px; 
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.title_box {
  background: transparent;
  width: 850px;
  height: 85px;
  padding: 30px;
  margin-right: 500px;
  margin-left: 500px;
  border-radius: 10px; 
  align-self: center;
}


.image_box{
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
}


.amount {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: 50px;
  font-stretch: 30%;
  font-style: bold;
  color: purple;
  font-size: 25px;
  color: black;
  line-height: 40px;
  /* text-align: right; */
  float: center;
}

.project {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: 50px;
  font-stretch: 30%;
  font-size: 24px;
  color: black;
  line-height: 25px;
  /* text-align: right; */
  float: center;
}

.donor {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: 30px;
  font-stretch: 30%;
  font-size: 20px;
  color: black;
  line-height: 20px;
  /* text-align: right; */
  float: center;
}