<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign in | Isha l'Isha Haifa Feminist Center</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <form class="signup-form" method="POST" action="/signup">
      <label for="username">Username:</label>
      <input type="text" name="username" id="name" placeholder="Enter your name" required>

      <label for="email">Email:</label>
      <input type="text" name="email" id="email" placeholder="Enter your email" required>

      <label for="password">Password:</label>
      <input type="text" name="password" placeholder="password" required>

      <button type="submit" class="donate-btn">Donate Now</button>
    </form>
</body>
</html>